{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "globals": {
    "mat4": "readonly"
  },
  "rules": {
    "no-bitwise": 0,
    "comma-dangle": ["error", "never"],
    "complexity": ["error", { "max": 10 }],
    "function-paren-newline": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-useless-path-segments": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/media-has-caption": "off",
    "lines-between-class-members": "off",
    "max-params": 0,
    "no-debugger": "warn",
    "no-else-return": "off",
    "no-extra-semi": "error",
    "no-restricted-imports": ["error", { "patterns": ["../*"] }],
    "no-restricted-modules": ["error", { "patterns": ["../*"] }],
    "prettier/prettier": "error",
    "quote-props": ["error", "consistent-as-needed"],
    "react/destructuring-assignment": "warn",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": [
      "error",
      {
        "order": ["static-methods", "instance-variables", "lifecycle", "everything-else", "render"]
      }
    ],
    "react/style-prop-object": "off",
    "semi": ["error", "never"]
  }
}
